<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="crypto.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="crypto.application.MainPerspective"
            icon="icons/alt_rsz_mainpersp.png"
            id="crypto.application.perspective"
            name="Main">
      </perspective>
      <perspective
            class="crypto.application.LivePerspective"
            icon="icons/alt_rsz_livepersp.png"
            id="crypto.application.liveperspective"
            name="Live Feed">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="crypto.application.application"
            name="crypto">
         <property
               name="appName"
               value="crypto">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
